<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="text-center">サインアップ</h2>
          <hr>
          <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label "ユーザー名" %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control",
                               required: true %>
            </div>

            <div class="field">
              <%= f.label "生年月日" %><br />
              <%= f.date_field :birthday, autofocus: true, class: "form-control",
                               required: true %>
            </div>

            <div class="field">
              <%= f.label "Eメール" %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control",
                                required: true %>
            </div>

            <div class="field">
              <%= f.label "パスワード" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t "devise.edit.char_minimum" %>)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control",
                                   required: true%>
            </div>

            <div class="field">
              <%= f.label "Re-パスワード" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
                                   required: true%>
            </div>
            <hr>
            <div class="actions">
              <%= f.submit "サインアップ", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>
