<br>
<div class="container">
  <div class="row">
    <%= render "home/left" %>
    <div class="col-sm-7">
      <h3 class="text-center">検索結果</h3>
      <hr>
      <div class="media">
        <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>
          <% @images.each do |image| %>
            <div class="grid-item col-md-6 col-sm-6">
              <div class="media-grid">
                <%= link_to image do %>
                  <div class="img-wrapper">
                    <img src="<%= image.file.thumb.url %>" alt=""
                         class="img-responsive post-image"/>
                  </div>
                <% end %>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn <% if current_user.like_image? image  %> text-green <% end %>"><i class="fa fa-thumbs-up"></i> <%= image.likes.count %></a>
                    <span class="pull-right" style="padding-top: 5px"><%= time_ago_in_words(image.created_at) %> ago</span>
                  </div>
                  <div class="user-info">
                    <img src="<%= image.user.avatar.thumb.url %>" alt=""
                         class="profile-photo-sm pull-left"/>
                    <div class="user">
                      <h6>
                        <%= link_to image.user.username, image.user, class: "profile-link" %>
                      </h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
