<!--Timeline Menu for Large Screens-->
<div class="timeline-nav-bar hidden-sm hidden-xs">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-info">
        <img src="<%= @user.avatar.thumb.url %>" alt="" class="img-responsive profile-photo" />
        <h3><%= @user.username %></h3>
        <p class="text-muted"><%= @user.email %></p>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="list-inline profile-menu">
        <li><%= link_to "タイムライン", @user, class: "active" %></li>
        <li><a href="timeline-about.html">私について</a></li>
        <li><a href="timeline-friends.html">フォロー</a></li>
      </ul>
      <ul class="follow-me list-inline">
        <li>1,299 フォローしている人</li>
      </ul>
    </div>
  </div>
</div><!--Timeline Menu for Large Screens End-->

<!--Timeline Menu for Small Screens-->
<div class="navbar-mobile hidden-lg hidden-md">
  <div class="profile-info">
    <img src="<%= @user.avatar.thumb.url %>" alt="" class="img-responsive profile-photo" />
    <h4><%= @user.username %></h4>
    <p class="text-muted"><%= @user.email %></p>
  </div>
  <div class="mobile-menu">
    <ul class="list-inline">
      <li><a href="timline.html" class="active">タイムライン</a></li>
      <li><a href="timeline-about.html">私について</a></li>
      <li><a href="timeline-friends.html">フォロー</a></li>
    </ul>
  </div>
</div><!--Timeline Menu for Small Screens End-->

</div>
