<!DOCTYPE html>
<html>
  <head>
    <title>Wevivu</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="wrapper <% if user_signed_in? %> no-bg <% end %>">
      <%= yield %>
    </div>
    <br>
    <br>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application"%>
    <%= render "layouts/message" %>
  </body>
</html>
